.burger {
    position: absolute;
    color: #fff;
    background-color: black;
    opacity: 0.9;
    width: 900px;
    display: flex;
    
   
}

.burgerWrapper {
    width: 50%;
    height: 100%;
    background-image:url(./../../../public/fon.jpg) ;
    padding-top: 25px;
    display: flex;
    
}

.read {
    display: flex;
}

.information {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.burgerP {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.burgerO {
    color: orange;
    margin-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
}